# Database URL for PostgreSQL
DATABASE_URL="postgresql://username:password@localhost:5432/mydb"

# Better Auth configuration
BETTER_AUTH_URL=http://localhost:3000
BETTER_AUTH_SECRET= # Generate a secret key: `bunx --bun @better-auth/cli secret`

TMDB_READ_ACCESS_TOKEN=your_tmdb_read_access_token
TMDB_BASE_URL=https://api.themoviedb.org/3

NODE_ENV=development